.App
  background-image: url(../assets/prayer.jpg)
  height: 1080px

.Header
  position: fixed
  top: 0
  width: 100%
  border-bottom: 1px solid #0000001f
  height: 45px
  background-color: white
  opacity: 0.2
