footer
  padding: 100px 150px 100px 150px
  color: #cbd6e2
  background-color: #33475b
  position: relative
  font-weight: 500
  font-size: 1.0rem

  .padded-item
    margin: 0 50px 0 50px
  
  .icon-links
    position: absolute
    bottom: 75px
    right: 150px
 
  a
    color: inherit
    text-decoration: none
    margin-left: 20px

    &.yt:hover
      color: red

    &.fb:hover
      color: #4267b2
    
    &.ig:hover
      color: #d6249f

footer.container
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
